*.class
*.log

*.kml
*.gz
*.class
*.orig
target/
tmp/
*~
project/boot
lib_managed/
data/models/*.bin
data/gazetteers/*.zip


# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies